{{#computers}}
	<tr>
		<td>{{name}}</td>
		<td>{{introduced}}</td>
		<td>
			{{#discontinued}}{{discontinued}}{{/discontinued}}
			{{^discontinued}}--{{/discontinued}}
		</td>
		<td>{{company}}</td>
	</tr>
{{/computers}}