{{#computers}}
	<tr id ="{{_id}}">
		<td><a id="{{_id}}" href="computers/{{_id}}" forEdit="yes">{{name}}</a></td>
		<td>{{#introduced}}<span friendDate="yes">{{introduced}}</span>{{/introduced}}
			{{^introduced}}--{{/introduced}}</td>
		<td>
			{{#discontinued}}<span friendDate="yes">{{discontinued}}</span>{{/discontinued}}
			{{^discontinued}}--{{/discontinued}}
		</td>
		<td>{{company.name}}</td>
	</tr>
{{/computers}}
<script>
	$("a[forEdit=yes]").click(function(event) {
        var computerId = $(this).attr("id");
        show("#edit");
        editLoad(computerId);
        event.preventDefault();
    });
    $("span[friendDate=yes]").each(function (i) {
		var dateAsStr = $(this).text();
		$(this).text($.datepicker.formatDate('dd M yy', new Date(dateAsStr)));
	});	
</script>