		<td><a id="{{_id}}" href="computers/{{_id}}" forEdit="yes">{{name}}</a></td>
		<td>{{introduced}}</td>
		<td>
			{{#discontinued}}{{discontinued}}{{/discontinued}}
			{{^discontinued}}--{{/discontinued}}
		</td>
		<td>{{company}}</td>
<script>
	$("#{{_id}}").click(function(event) {
        var computerId = $(this).attr("id");
        show("#edit");
        editLoad(computerId);
        event.preventDefault();
    });
</script>